// breakpoints
$breakpoints: (
  'sp': 'screen and (max-width: 767px)',
  'tb': 'screen and (min-width: 768px) and (max-width: 1024px)',
  'pc': 'screen and (min-width: 1025px)',
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// 色
$text-main: #404559;
$text-dark: #023e78;
$text-sub: #fff;

$bg-01: #f2f4f6;
$bg-02: #e4eaf1;
$bg-03: #023e78;
$bg-04: #0291d9;

// font
$font-ja: 'Zen Kaku Gothic New', sans-serif;
$font-en: 'Jost', sans-serif;

// common
$width-inner: 1240px;

.section__inner {
  margin-left: 24px;
  margin-right: 24px;
  @include mq(pc) {
    margin-left: 100px;
    margin-right: 100px;
  }
}
.section__title {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
  @include mq(pc) {
    margin-bottom: 64px;
  }
  p {
    font-size: 32px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    font-family: $font-en;
    @include mq(pc) {
      font-size: 64px;
      letter-spacing: 1.28px;
    }
  }
  span {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 1.5px;
    @include mq(pc) {
      font-size: 18px;
      letter-spacing: 1.8px;
    }
  }
  &.--gradation {
    p {
      background: linear-gradient(270deg, #0a9ae5 0%, #023e78 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &.--white {
    color: $text-sub;
  }
}
.is-sp {
  @include mq(pc) {
    display: none;
  }
}
.is-pc {
  @include mq(sp) {
    display: none;
  }
  @include mq(tb) {
    display: none;
  }
}
body {
  color: $text-main;
  font-family: $font-ja;
}
// header
//ヘッダー ========================
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: linear-gradient(270deg, #0a9ae5 0%, #023e78 100%);
}
.header__inner {
  padding: 12px 16px;
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 36px;
  @include mq(sp) {
    display: none;
  }
}
.header__btn {
  display: block;
  color: $text-sub;
  font-family: $font-en;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4; /* 22.4px */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding: 10px 46px 10px 24px;
  border-radius: 44px;
  border: 1px solid $text-sub;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background: #fff400;
    border-radius: 50%;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.header__list {
  display: flex;
  gap: 36px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4; /* 22.4px */
}
.header__logo {
  width: 175px;
  display: block;
  @include mq(pc) {
    width: 320px;
  }
}

//アイコン ====================
.drawer__icon {
  position: fixed;
  z-index: 102;
  top: 20px;
  right: 16px;
  width: 40px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mq(pc) {
    display: none;
  }
}
.drawer__icon--bar {
  width: 100%;
  height: 1px;
  background: #fff;
}

//メニューが開いている時 ========
.drawer__icon.js-show {
  .drawer__icon--bar:nth-of-type(1) {
    rotate: 25deg;
    translate: 0 7.5px;
  }
  .drawer__icon--bar:nth-of-type(2) {
    rotate: -25deg;
    translate: 0 -7.5px;
  }
}

//ドロワーメニュー
.drawer {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background: linear-gradient(270deg, #0a9ae5 0%, #023e78 100%);
  overflow-y: scroll;
}
.drawer__body {
  width: 100%;
  height: fit-content;
  padding: 92px 20px 28px;
  position: relative;
}
.drawer__logo{
  position: absolute;
  width: 175px;
  left: 16px;
  top: 18px;
}
.drawer__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  li a {
    padding: 16px 0;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    border-bottom: 1px solid #c4ccd7;
    display: block;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 8px;
      height: 16px;
      background: transparent url(/img/drawer-arrow.svg) no-repeat center
        center/contain;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
}
.drawer__btn {
  display: block;
  width: 100%;
  padding: 10px 24px;
  border-radius: 44px;
  border: 1px solid $text-sub;
  color: $text-sub;
  font-family: $font-en;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4; /* 22.4px */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  position: relative;
  text-align: left;
  &::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background: #fff400;
    right: 24px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
}
.drawer__icon--bar {
  transition: all 0.5s ease;
}

//ドロワーの出現の動きを指定
.drawer {
  translate: 101%;
  transition: translate 0.5s ease;

  &.js-show {
    translate: 0;
  }
}
// fv
.fv {
  background: linear-gradient(270deg, #0a9ae5 0%, #023e78 100%);
  position: relative;
}
.fv__lead {
  position: absolute;
  left: 20px;
  bottom: -40px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include mq(pc) {
    gap: 20px;
    left: 40px;
  }
  p {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(40px);
    padding: 6px 16px;
    color: $text-dark;
    font-family: $font-en;
    font-size: 32px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.2; /* 38.4px */
    letter-spacing: 0.64px;
    text-transform: uppercase;
    width: fit-content;
    @include mq(pc) {
      padding: 8px 24px;
      font-size: 64px;
      font-style: italic;
      font-weight: 500;
      line-height: 1.3; /* 83.2px */
      letter-spacing: 1.28px;
    }
  }
}

.images-scroll {
  --images-width: 0px;
  --image-gap: 12px;
  @include mq(pc) {
    --image-gap: 20px;
  }

  width: fit-content;
  display: flex;
  gap: var(--image-gap);
  animation: infinity-scroll-left 10s linear both infinite;
}

@keyframes infinity-scroll-left {
  from {
    translate: 0 0;
  }

  to {
    translate: calc(-1 * (var(--images-width) + var(--image-gap))) 0;
  }
}

.images {
  display: grid;
  gap: var(--image-gap);
  grid-template-columns: repeat(7, 145px);
  grid-template-rows: repeat(2, 260px);
  @include mq(pc) {
    grid-template-columns: repeat(7, 269px);
    grid-template-rows: repeat(2, 280px);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.image2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.image3 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.image4 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

.image5 {
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
}

.image6 {
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;
}

.image7 {
  grid-column: 6 / span 2;
  grid-row: 1 / span 2;
}

// main lead
.main__lead {
  background: linear-gradient(270deg, #0291d9 0%, #023e78 100%);
  position: relative;
}
.main__lead__bg{
  position: absolute;
  width: calc(287 /390 * 100vw);
  bottom: 0;
  left: 0;
  @include mq(pc) {
    width: 100%;
  }
}
.main__lead__inner {
  padding: 176px 0 131px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  @include mq(pc) {
    padding: 293px 0 118px;
    flex-direction: row;
    gap: 140px;
    margin-left: 100px;
  }
}

.main__lead__img {
  width: 85%;
  margin-left: auto;
  img {
    border-radius: 4px 0 0 4px;
  }
  @include mq(pc) {
    width: 44%;
  }
}

.text-flow {
  width: fit-content;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  @include mq(pc) {
    gap: 80px;
  }
}

.text-flow__line {
  position: relative;
  display: inline-block;
  text-shadow: 0 0 64px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2; /* 33px */
  @include mq(pc) {
    font-size: 18px;
  }
}

@keyframes text-flow {
  from {
    clip-path: inset(0 100% 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

.text-flow__cover {
  --delay: 1s;

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: $text-sub;
  animation: text-flow 2s cubic-bezier(0.19, 1, 0.22, 1) var(--delay) both;
}

.text-flow__base {
  display: block;
  position: relative;
  color: $text-dark;
}

// business
.business {
  background: linear-gradient(270deg, #0291d9 0%, #023e78 100%);
}

.business__inner {
  padding: 33px 0 51px 20px;
  @include mq(pc) {
     padding: 0 0 0 100px;
  }
}

.business__category {
  @include mq(sp) {
    gap: 16px 8px;
  margin-bottom: 40px;
  margin-right: 24px;
  flex-wrap: wrap;
  }
  display: flex;
  @include mq(pc) {
    flex-direction: row;
    margin-bottom: 40px;
    gap: 16px;

  }
}

.business__category__item {
  padding: 8px;
  border-radius: 4px;
  background: $bg-02;
  color: $text-dark;
  border: 2px solid #0961b6;
  width: calc((100% - 8px) / 2);
  @include mq(pc) {
    width: 298px;
    padding: 20px;
  }
  &.--active{
    color: $text-sub;
    background-color: $text-dark;
    border: 1px solid #fff;
  }
}

.business__category__item__en {
  font-family: $font-en;
  font-size: 8px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6; /* 12.8px */
  text-transform: uppercase;
  margin-bottom: 4px;
  @include mq(pc) {
    font-size: 14px;
  }
}

.business__category__item__ja {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6; /* 20.8px */
  @include mq(pc) {
    font-size: 18px;
    gap: 12px;
    flex-direction: row;
  }
  span {
    font-size: 14px;
    font-family: $font-en;
    font-style: italic;
    font-weight: 500;
    line-height: 1.5;
    @include mq(pc) {
      font-size: 20px;
    }
  }
}

.business__items {
  display: flex;
  gap: 16px;
}

.business__item {
  padding: 12px;
  border-radius: 4px;
  background-color: $bg-02;
}

.business__item__en {
  color: $text-dark;
  font-family: $font-en;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6; /* 19.2px */
  letter-spacing: 0.36px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.business__item__ja {
  display: flex;
  align-items: center;
  gap: 12px;
  color: $text-dark;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6; /* 28.8px */
  span {
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.6px;
    font-family: $font-en;
  }
}

.business__item__img {
  margin-bottom: 12px;
  img {
    width: 100%;
  }
}

.business__item__contents {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
  dt {
    color: $text-dark;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6; /* 24px */
    margin-bottom: 6px;
  }
  dd {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.7; /* 23.8px */
    ul {
      list-style-type: disc;
      list-style-position: outside;
      padding-left: 1.5em;
    }
  }
}

.modal__open-btn {
  padding: 20px;
  width: 100%;
  text-align: left;
  color: $text-sub;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4; /* 22.4px */
  position: relative;
  background-color: $bg-03;
  border-radius: 4px;
  &::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    background: transparent url(/img/modal-btn.svg) no-repeat center
      center/contain;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.modal__content {
  padding: 64px 16px 16px;
}

.modal__close-btn {
}

.modal__inner {
}

.modal__body {
}

.modal__head__en {
  color: $text-dark;
  font-family: $font-en;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.7; /* 22.4px */
}

.modal__head__ja {
  display: flex;
  gap: 12px;
  color: $text-dark;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6; /* 32px */
  span {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    font-style: italic;
    font-family: $font-en;
  }
}
.modal__text {
  display: flex;
  flex-direction: column;
  dl {
    padding: 12px 0;
    border-bottom: 1px solid #c4ccd7;
  }
  dt {
    color: $text-dark;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6; /* 24px */
    margin-bottom: 10px;
  }
  dd {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.7; /* 25.5px */
    ul {
      list-style-type: disc;
      list-style-position: outside;
      padding-left: 1.5em;
    }
  }
}

.modal__entry {
  padding: 20px 40px;
  width: 100%;
  background-color: $text-dark;
  border-radius: 4px;
  color: $text-sub;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 20px;
    background: transparent url(/img/entry-arrow.svg) no-repeat center
      center/contain;
    top: 50%;
    transform: translateY(-50%);
    right: 45px;
  }
}

/* 初期設定 */
button {
  background: none;
}
:where(dialog) {
  width: unset;
  max-width: unset;
  height: unset;
  max-height: unset;
  padding: unset;
  color: unset;
  background-color: unset;
  border: unset;
  overflow: unset;
}
body:has(dialog[open]) {
  overflow: hidden;
}
/* モーダルのスタイル ============ */
dialog {
  &::backdrop {
    opacity: 0;
    transition: background 0.3s ease-in-out;
  }
  &.js-show {
    &.modal__content {
      opacity: 1;
    }
    &::backdrop {
      opacity: 1;
      /* 背景画像 */
      background: linear-gradient(
          0deg,
          rgba(2, 62, 120, 0.5) 0%,
          rgba(2, 62, 120, 0.5) 100%
        ),
        rgba(211, 211, 211, 0.5);
    }
  }
}

.modal__content {
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  /* モーダル枠組みのスタイル */
  width: min(600px, 95%);
  background: #fff;
  margin-top: 15px;
  border-radius: 12px;
  border: 1px solid $text-main;
  background: $text-sub;
}

.modal__inner {
  overflow-y: scroll;
  height: 100%;
  position: relative;
}

.modal__body {
  height: fit-content;
  /* modal内のスタイル */
  h3 {
    font-size: 30px;
    font-weight: 700;
  }
  p {
    font-size: 20px;
  }
}
//閉じるボタンのスタイル =========
.modal__close-btn {
  position: absolute;
  z-index: 2;
  top: 16px;
  right: 125px;
  width: 36px;
  display: flex;
  white-space: nowrap;
  color: $text-dark;
  gap: 12px;
  p {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.7; /* 20.4px */
  }
}

// challenge
.challenge {
  background: linear-gradient(270deg, #0291d9 0%, #023e78 100%);
  position: relative;
}
.challenge__bg {
  position: absolute;
  width: calc(307 / 390 * 100vw);
  top: 0;
  right: 0;
  z-index: 0;
  @include mq(pc) {
    width: calc(861 / 1440 * 100vw);
  }
}

.challenge__inner {
  padding-top: 120px;
  padding-bottom: 80px;
  @include mq(pc) {
    padding-top: 222px;
    padding-bottom: 133px;
  }
}

.challenge__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  position: relative;
  z-index: 1;
  @include mq(pc) {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    row-gap: 96px;
    > *:first-child {
      /* ここに左カラム専用のスタイルを書く */
      margin-top: 64px;
    }
    > *:nth-child(4) {
      /* 4つ目だけに当てるスタイル */
      margin-top: -64px;
    }
  }
}

.challenge__item {
  border-radius: 4px;
  background: rgba(244, 251, 255, 0.7);
  &.--01 {
    border-bottom: 12px solid #37a4db;
  }
  &.--02 {
    border-bottom: 12px solid #2766ae;
  }
  &.--03 {
    border-bottom: 12px solid #025178;
  }
  &.--04 {
    border-bottom: 12px solid #023e78;
  }
  @include mq(pc) {
    width: calc(582 / 1440 * 100vw);
  }
}

.challenge__item__inner {
}

.challenge__item__stage {
  padding: 12px 28px;
  color: $text-sub;
  width: fit-content;
  border-radius: 0 0 4px 0;
  &.--01 {
    background-color: #37a4db;
  }
  &.--02 {
    background-color: #2766ae;
  }
  &.--03 {
    background-color: #025178;
  }
  &.--04 {
    background-color: #023e78;
  }
  span {
    font-family: $font-en;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: 1; /* 15px */
    letter-spacing: 0.45px;
    display: flex;
    align-items: center;
    @include mq(pc) {
      font-size: 18px;
      letter-spacing: 0.54px;
    }
  }
  strong {
    margin-left: 8px;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 1; /* 20px */
    letter-spacing: 0.6px;
    @include mq(pc) {
      font-size: 24px;
      letter-spacing: 0.72px;
    }
  }
  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6; /* 28.8px */
    margin-top: 4px;
    @include mq(pc) {
      font-size: 24px;
    }
  }
}

.challenge__item__text {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7; /* 25.5px */
  margin-bottom: 28px;
  padding: 28px 24px 0;
  @include mq(pc) {
    font-size: 16px;
    margin-bottom: 41px;
  }
}

.challenge__item__img {
  padding: 0 24px 16px;
  img {
    width: 100%;
    border-radius: 4px;
  }
}

// member
/* ================================
   本題のCSS
=============================== */
.member__card__swiper-container,
.member__card__swiper,
.member__card__swiper-wrapper,
.member__card__swiper-slide {
  position: relative;
}

/* 位置のreset */
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
  margin: 0;
  padding: 0;
}

/* =============================
   ナビゲーションボタン
============================= */
/* デフォルトのボタンを初期化 */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: ''; /* デフォルトのものを初期化 */
}

/* 各ボタンのカスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  translate: 0 -50%;
  width: 40px;
  height: 40px;
  @include mq(pc) {
    width: 80px;
    height: 80px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.swiper-button-prev {
  right: 100px;
  @include mq(pc) {
    right: 220px;
  }
}

.swiper-button-next {
  right: 20px;
  @include mq(pc) {
    right: 100px;
  }
}

/* =============================
   ページネーション (bullets)
============================= */
/* 位置の設定 (枠組み) */
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: calc(100% + 29px);
}

/* それぞれのページネーション */
.swiper-pagination-bullets.swiper-pagination-horizontal
  .swiper-pagination-bullet {
  opacity: 1;
  width: 12px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #d9d9d9;
  margin-inline: calc(11px / 2);
}

/* activeな部分 */
.swiper-pagination-bullets.swiper-pagination-horizontal
  .swiper-pagination-bullet-active {
  background: #000;
}
.member {
  background-color: $bg-02;
  position: relative;
}
.member__bg {
  position: absolute;
  width: calc(305 / 390 * 100vw);
  left: 0;
  top: 0;
  @include mq(pc) {
    width: calc(940 / 1440 * 100vw);
  }
}

.member__inner {
  padding: 80px 0 236px 20px;
  @include mq(pc) {
    padding: 120px 0 263px 100px;
  }
}

.member__slide {
}

.member__card__inner {
}

.member__card__swiper-container {
}

.swiper {
}

.member__card__swiper {
}

.swiper-wrapper {
}

.member__card__swiper-wrapper {
}

.swiper-slide {
}

.member__card__swiper-slide {
  position: relative;
}
.member__card__swiper-slide__number {
  position: absolute;
  width: 61px;
  right: 8px;
  top: -20px;
  z-index: 3;
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  top: auto !important;
  bottom: -64px !important;
  width: 95%;
  @include mq(pc) {
    width: calc(976 / 1440 * 100vw);
    bottom: -103px !important;
  }
}
.swiper-button-prev,
.swiper-button-next {
  top: auto !important;
  bottom: -170px;
}

.member__card__swiper-slide__img {
  margin-bottom: 20px;
  width: 100%;
}

.member__card__swiper-slide__lead {
  padding: 12px 16px;
  height: calc(2em * 8);
  background-color: $bg-03;
  color: $text-sub;
  color: var(--, #fff);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 2; /* 30px */
  letter-spacing: 0.3px;
  @include mq(pc) {
    height: calc(2em * 7);
  }
}

.swiper-pagination {
}

.swiper-button-prev {
}

.swiper-button-next {
}

// culture
.culture {
  background-color: $bg-01;
}

.culture__inner {
  padding: 80px 0;
  @include mq(pc) {
    padding: 120px 0;
    max-width: $width-inner;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.culture__items {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  @include mq(pc) {
    padding: 0 40px;
  }
}

.culture__item {
  padding: 28px 0;
  border-bottom: 2px solid #c4ccd7;
  display: flex;
  flex-direction: column;
  gap: 32px;
  &:last-child {
    border-bottom: none;
  }
  @include mq(pc) {
    flex-direction: row;
    align-items: center;
  }
}

.culture__lead {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include mq(pc) {
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
  }
}

.culture__lead__img {
  width: 64px;
  margin: 0 auto;
}

.culture__lead__text {
  color: $text-dark;
  text-align: center;
  @include mq(pc) {
    text-align: left;
    width: calc(395 / 1440 * 100vw);
  }
  p {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 4px;
    @include mq(pc) {
      font-size: 24px;
      line-height: 1.6;
      margin-bottom: 12px;
    }
  }
  span {
    font-family: $font-en;
    font-style: italic;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.39px;
    text-transform: uppercase;
    @include mq(pc) {
      font-size: 14px;
      line-height: 1.6;
      letter-spacing: 0.42px;
    }
  }
}

.culture__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
  @include mq(pc) {
    font-size: 16px;
  }
}
/* 背景画像の見えている高さ */
.parallax {
  height: 488px;
  @include mq(pc) {
    height: 380px;
  }
}

/* 背景画像 */
.parallax::before {
  background-image: url(/img/parallax.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

// 福利厚生
.benefits {
  background-color: $bg-01;
  position: relative;
}
.benefits__bg {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(220 / 390 * 100vw);
  @include mq(pc) {
    width: calc(767 / 1440 * 100vw);
  }
}
.benefits__inner {
  padding: 80px 0;
  @include mq(pc) {
    padding: 120px 0;
  }
}
.benefits__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  img {
    width: 20px;
    @include mq(pc) {
      width: 30px;
    }
  }
  span {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6;
    @include mq(pc) {
      font-size: 24px;
    }
  }
}

// faq
.faq {
  background-color: $bg-02;
  position: relative;
}
.faq__bg {
  position: absolute;
  width: calc(276 / 390 * 100vw);
  bottom: 0;
  left: 0;
  z-index: 0;
  @include mq(pc) {
    width: calc(584 / 1440 * 100vw);
  }
}
.faq__accent {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(183 / 390 * 100vw);
  @include mq(pc) {
    width: calc(317 / 1440 * 100vw);
  }
}
.faq__accent__sub {
  position: absolute;
  width: calc(317 / 1440 * 100vw);
  right: calc(52 / 1440 * 100vw);
  bottom: calc(128 / 1440 * 100vw);
}

.faq__inner {
  padding-top: 100px;
  padding-bottom: 112px;
  display: flex;
  flex-direction: column;
  @include mq(pc) {
    flex-direction: row;
    gap: calc(160 / 1440 * 100vw);
  }
}

.faq__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  position: relative;
}

.faq__item {
  padding: 8px 12px;
  background-color: $bg-01;
  border-radius: 4px;
  dl {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  dt {
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    cursor: pointer;
    span {
      width: 28px;
      border-radius: 50%;
      background: rgba(255, 244, 0, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-dark;
      font-size: 22px;
      font-style: italic;
      font-weight: 500;
      line-height: 1.27;
    }
    img {
      width: 32px;
      margin-left: auto;
      transition: transform 0.3s ease;
    }
    p {
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.6;
    }
  }
  dd {
    border-top: 2px solid #c4ccd7;
    color: $text-dark;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    padding-top: 8px;
    display: none;

    &.--open {
      display: block;
    }
  }
  dt.--open img {
    transform: rotate(180deg);
  }
}

// cta
.cta {
  padding: 12px;
  background-color: #e4eaf1;
  position: relative;
  z-index: 1;
  @include mq(pc) {
    padding: 32px;
  }
}
.cta__content {
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(270deg, #0291d9 0%, #023e78 100%);
  padding: 56px 8px;
  @include mq(pc) {
    position: relative;
    height: calc(636 / 1440 * 100vw);
    perspective: 2000px;
    perspective-origin: center;
    transform-style: preserve-3d;
    overflow: hidden;
    border-radius: 8px;
  }
}

.door-left,
.door-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: top;
  }
}

.door-left {
  left: 0;
  transform-origin: left center;
}

.door-right {
  right: 0;
  transform-origin: right center;
}
.cta__message {
  text-align: center;
  @include mq(pc) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cta__join {
  color: $text-sub;
  font-family: $font-en;
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.5; /* 48px */
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-bottom: 24px;
  @include mq(pc) {
    font-size: 56px;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    margin-bottom: 36px;
  }
}

.cta__lead {
  color: $text-sub;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7; /* 23.8px */
  margin-bottom: 40px;
  @include mq(pc) {
    font-size: 16px;
  }
}

.cta__btn {
  color: $text-sub;
  font-family: $font-en;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5; /* 27px */
  letter-spacing: 0.9px;
  text-transform: uppercase;
  padding: 16px 92px 16px 64px;
  border-radius: 44px;
  border: 1px solid $text-sub;
  position: relative;
  @include mq(pc) {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.2px;
  }
  &::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff400;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
  }
}

/* ホバー時のアニメーション */
.cta__content:hover .door-left {
  width: 35%;
  transform: rotateY(24deg) scaleX(0.8);
}

.cta__content:hover .door-right {
  width: 35%;
  transform: rotateY(-24deg) scaleX(0.8);
}

// footer
.footer {
  background-color: #e4eaf1;
  position: relative;
}
.footer__bg {
  position: absolute;
  z-index: 0;
  width: calc(250 / 390 * 100vw);
  bottom: 0;
  right: 0;
  @include mq(pc) {
    width: calc(844 / 1440 * 100vw);
  }
}

.footer__inner {
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 32px;
  @include mq(pc) {
    padding: 80px 0 32px;
    gap: 0px;
    flex-direction: row;
  }
}

.footer__left {
  @include mq(pc) {
    margin-right: auto;
  }
}

.footer__logo {
  width: 280px;
  margin-bottom: 32px;
  display: inline-block;
  @include mq(pc) {
    margin-bottom: 40px;
  }
}
address {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6; /* 25.6px */
  @include mq(pc) {
    font-size: 16px;
    line-height: 1.7;
  }
}

.footer__right {
}

.footer__menu {
  display: flex;
  flex-direction: column;
  padding: 16px;
  @include mq(pc) {
    flex-direction: row;
    gap: 20px;
  }
}
.footer__menu__contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include mq(pc) {
    gap: 0;
    width: 250px;
  }
}

.footer__menu__item {
  padding: 8px 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4; /* 25.2px */
}

.footer__sns {
  display: flex;
  gap: 36px;
}

.footer__sns__item {
  width: 40px;
}
.copyright {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 18px */
}
