@charset "UTF-8";
.section__inner {
  margin-left: 24px;
  margin-right: 24px;
}
@media screen and (min-width: 1025px) {
  .section__inner {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.section__title {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 1025px) {
  .section__title {
    margin-bottom: 64px;
  }
}
.section__title p {
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
}
@media screen and (min-width: 1025px) {
  .section__title p {
    font-size: 64px;
    letter-spacing: 1.28px;
  }
}
.section__title span {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 1.5px;
}
@media screen and (min-width: 1025px) {
  .section__title span {
    font-size: 18px;
    letter-spacing: 1.8px;
  }
}
.section__title.--gradation p {
  background: linear-gradient(270deg, #0a9ae5 0%, #023e78 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1025px) {
  .is-sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .is-pc {
    display: none;
  }
}

body {
  color: #404559;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.culture {
  background-color: #f2f4f6;
}

.culture__inner {
  padding: 80px 0;
}
@media screen and (min-width: 1025px) {
  .culture__inner {
    padding: 120px 0;
    max-width: 1240px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.culture__items {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
@media screen and (min-width: 1025px) {
  .culture__items {
    padding: 0 40px;
  }
}

.culture__item {
  padding: 28px 0;
  border-bottom: 2px solid #c4ccd7;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.culture__item:last-child {
  border-bottom: none;
}
@media screen and (min-width: 1025px) {
  .culture__item {
    flex-direction: row;
    align-items: center;
  }
}

.culture__lead {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 1025px) {
  .culture__lead {
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
  }
}

.culture__lead__img {
  width: 64px;
  margin: 0 auto;
}

.culture__lead__text {
  color: #023e78;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .culture__lead__text {
    text-align: left;
    width: 27.4305555556vw;
  }
}
.culture__lead__text p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 4px;
}
@media screen and (min-width: 1025px) {
  .culture__lead__text p {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 12px;
  }
}
.culture__lead__text span {
  font-family: "Jost", sans-serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.39px;
  text-transform: uppercase;
}
@media screen and (min-width: 1025px) {
  .culture__lead__text span {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.42px;
  }
}

.culture__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
}
@media screen and (min-width: 1025px) {
  .culture__text {
    font-size: 16px;
  }
}

/* 背景画像の見えている高さ */
.parallax {
  height: 488px;
}
@media screen and (min-width: 1025px) {
  .parallax {
    height: 380px;
  }
}

/* 背景画像 */
.parallax::before {
  background-image: url(/img/parallax.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.benefits {
  background-color: #f2f4f6;
  position: relative;
}

.benefits__bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 56.4102564103vw;
}
@media screen and (min-width: 1025px) {
  .benefits__bg {
    width: 53.2638888889vw;
  }
}

.benefits__inner {
  padding: 80px 0;
}
@media screen and (min-width: 1025px) {
  .benefits__inner {
    padding: 120px 0;
  }
}

.benefits__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}
.benefits__title img {
  width: 20px;
}
@media screen and (min-width: 1025px) {
  .benefits__title img {
    width: 30px;
  }
}
.benefits__title span {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}
@media screen and (min-width: 1025px) {
  .benefits__title span {
    font-size: 24px;
  }
}

.faq {
  background-color: #e4eaf1;
  position: relative;
}

.faq__bg {
  position: absolute;
  width: 70.7692307692vw;
  bottom: 0;
  left: 0;
  z-index: 0;
}
@media screen and (min-width: 1025px) {
  .faq__bg {
    width: 40.5555555556vw;
  }
}

.faq__accent {
  position: absolute;
  right: 0;
  top: 0;
  width: 46.9230769231vw;
}
@media screen and (min-width: 1025px) {
  .faq__accent {
    width: 22.0138888889vw;
  }
}

.faq__accent__sub {
  position: absolute;
  width: 22.0138888889vw;
  right: 3.6111111111vw;
  bottom: 8.8888888889vw;
}

.faq__inner {
  padding-top: 100px;
  padding-bottom: 112px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1025px) {
  .faq__inner {
    flex-direction: row;
    gap: 11.1111111111vw;
  }
}

.faq__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  position: relative;
}

.faq__item {
  padding: 8px 12px;
  background-color: #f2f4f6;
  border-radius: 4px;
}
.faq__item dl {
  display: flex;
  align-items: center;
  gap: 8px;
}
.faq__item dt {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  cursor: pointer;
}
.faq__item dt span {
  width: 28px;
  border-radius: 50%;
  background: rgba(255, 244, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #023e78;
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.27;
}
.faq__item dt img {
  width: 32px;
  margin-left: auto;
  transition: transform 0.3s ease;
}
.faq__item dt p {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}
.faq__item dd {
  border-top: 2px solid #c4ccd7;
  color: #023e78;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  padding-top: 8px;
  display: none;
}
.faq__item dd.--open {
  display: block;
}
.faq__item dt.--open img {
  transform: rotate(180deg);
}

.cta {
  padding: 12px;
  background-color: #e4eaf1;
}
@media screen and (min-width: 1025px) {
  .cta {
    padding: 32px;
  }
}

.cta__content {
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(270deg, #0291d9 0%, #023e78 100%);
  padding: 56px 8px;
}
@media screen and (min-width: 1025px) {
  .cta__content {
    position: relative;
    height: 44.1666666667vw;
    perspective: 2000px;
    perspective-origin: center;
    transform-style: preserve-3d;
    overflow: hidden;
    border-radius: 8px;
  }
}

.door-left,
.door-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.door-left img,
.door-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: top;
}

.door-left {
  left: 0;
  transform-origin: left center;
}

.door-right {
  right: 0;
  transform-origin: right center;
}

.cta__message {
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .cta__message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cta__join {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.5; /* 48px */
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media screen and (min-width: 1025px) {
  .cta__join {
    font-size: 56px;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    margin-bottom: 36px;
  }
}

.cta__lead {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7; /* 23.8px */
  margin-bottom: 40px;
}
@media screen and (min-width: 1025px) {
  .cta__lead {
    font-size: 16px;
  }
}

.cta__btn {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5; /* 27px */
  letter-spacing: 0.9px;
  text-transform: uppercase;
  padding: 16px 92px 16px 64px;
  border-radius: 44px;
  border: 1px solid #fff;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .cta__btn {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.2px;
  }
}
.cta__btn::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff400;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}

/* ホバー時のアニメーション */
.cta__content:hover .door-left {
  width: 35%;
  transform: rotateY(24deg) scaleX(0.8);
}

.cta__content:hover .door-right {
  width: 35%;
  transform: rotateY(-24deg) scaleX(0.8);
}