@charset "UTF-8";
.section__inner {
  margin-left: 6.1538461538vw;
  margin-right: 6.1538461538vw;
}
@media screen and (min-width: 1025px) {
  .section__inner {
    margin-left: 6.9444444444vw;
    margin-right: 6.9444444444vw;
  }
}

.section__title {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 1025px) {
  .section__title {
    margin-bottom: 59px;
  }
}
.section__title p {
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
}
@media screen and (min-width: 1025px) {
  .section__title p {
    font-size: 64px;
    letter-spacing: 1.28px;
  }
}
.section__title span {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 1.5px;
}
@media screen and (min-width: 1025px) {
  .section__title span {
    font-size: 18px;
    letter-spacing: 1.8px;
  }
}
.section__title.--gradation p {
  background: linear-gradient(270deg, #0a9ae5 0%, #023e78 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section__title.--white {
  color: #fff;
}

@media screen and (min-width: 1025px) {
  .is-sp {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .is-pc {
    display: none !important;
  }
}

body {
  color: #404559;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: linear-gradient(270deg, #0a9ae5 0%, #023e78 100%);
}

.header__inner {
  padding: 18px 16px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .header__inner {
    padding: 13px 37px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 36px;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}

.header__btn {
  display: block;
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4; /* 22.4px */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding: 10px 46px 10px 24px;
  border-radius: 44px;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden; /* はみ出した背景を隠すために必須 */
  z-index: 1;
}
.header__btn::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: #fff400;
  border-radius: 50%;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.header__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #023e78; /* 指定の濃い青 */
  z-index: -1; /* 文字の下に配置 */
  /* 左下(0% 100%)を中心とした円形で切り抜く */
  /* 最初は半径0%（見えない） */
  clip-path: circle(0% at 0% 100%);
  transition: clip-path 0.4s ease-out;
}
.header__btn:hover::before {
  /* 半径を大きくしてボタン全体を覆う（斜めに広がって見える） */
  clip-path: circle(150% at 0% 100%);
}

.header__list {
  display: flex;
  gap: 36px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4; /* 22.4px */
}
.header__list a {
  position: relative; /* 下線の位置基準 */
  padding-bottom: 4px;
}
.header__list a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* 下線の太さ */
  background-color: #fff;
  /* アニメーションの肝 */
  transform: scaleX(0); /* 最初は横幅0 */
  transform-origin: center; /* 中央を基準に拡大 */
  transition: transform 0.3s ease;
}
.header__list a:hover::after {
  transform: scaleX(1); /* ホバー時に100%まで拡大 */
}

.header__logo {
  width: 175px;
  display: block;
}
@media screen and (min-width: 1025px) {
  .header__logo {
    width: 320px;
  }
}

.drawer__icon {
  position: fixed;
  z-index: 102;
  top: 29px;
  right: 21px;
  width: 40px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1025px) {
  .drawer__icon {
    display: none;
  }
}

.drawer__icon--bar {
  width: 100%;
  height: 2px;
  background: #fff;
}

.drawer__icon.js-show .drawer__icon--bar:nth-of-type(1) {
  rotate: 25deg;
  translate: 0 0.5px;
}
.drawer__icon.js-show .drawer__icon--bar:nth-of-type(2) {
  rotate: -25deg;
  translate: 0 -7.5px;
}

.drawer {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background: linear-gradient(270deg, #0a9ae5 0%, #023e78 100%);
  overflow-y: scroll;
}

.drawer__body {
  width: 100%;
  height: fit-content;
  padding: 92px 20px 28px;
  position: relative;
}

.drawer__logo {
  position: absolute;
  width: 175px;
  left: 16px;
  top: 18px;
}

.drawer__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.drawer__list li a {
  padding: 16px 0;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  border-bottom: 1px solid #c4ccd7;
  display: block;
  position: relative;
}
.drawer__list li a::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 16px;
  background: transparent url(/img/drawer-arrow.svg) no-repeat center center/contain;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.drawer__btn {
  display: block;
  width: 100%;
  padding: 10px 24px;
  border-radius: 44px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4; /* 22.4px */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  position: relative;
  text-align: left;
}
.drawer__btn::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: #fff400;
  right: 24px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.drawer__icon--bar {
  transition: all 0.5s ease;
}

.drawer {
  translate: 101%;
  transition: translate 0.5s ease;
}
.drawer.js-show {
  translate: 0;
}

.fv {
  position: relative;
  overflow: hidden;
}

.fv__wrapper {
  position: relative;
  background: linear-gradient(270deg, #0a9ae5 0%, #023e78 100%);
  padding-top: 113px;
}
@media screen and (min-width: 1025px) {
  .fv__wrapper {
    padding-top: 131px;
  }
}

.fv__lead {
  position: absolute;
  left: 20px;
  bottom: -27px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 1025px) {
  .fv__lead {
    gap: 20px;
    left: 40px;
    bottom: -52px;
  }
}
.fv__lead p {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(40px);
  padding: 6px 16px;
  color: #023e78;
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.2; /* 38.4px */
  letter-spacing: 0.64px;
  text-transform: uppercase;
  width: fit-content;
}
@media screen and (min-width: 1025px) {
  .fv__lead p {
    padding: 8px 24px;
    font-size: 64px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.3; /* 83.2px */
    letter-spacing: 1.28px;
  }
}

.images-scroll {
  --images-width: 0px;
  --image-gap: 12px;
  overflow: hidden;
  width: fit-content;
  display: flex;
  gap: var(--image-gap);
  animation: infinity-scroll-left 10s linear both infinite;
}
@media screen and (min-width: 1025px) {
  .images-scroll {
    --image-gap: 20px;
  }
}

@keyframes infinity-scroll-left {
  from {
    translate: 0 0;
  }
  to {
    translate: calc(-1 * (var(--images-width) + var(--image-gap))) 0;
  }
}
.images {
  display: grid;
  gap: var(--image-gap);
  grid-template-columns: repeat(7, 145px);
  grid-template-rows: repeat(2, 260px);
}
@media screen and (min-width: 1025px) {
  .images {
    grid-template-columns: repeat(7, 269px);
    grid-template-rows: repeat(2, 268px);
  }
}
.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image1 {
  grid-column: 1/span 1;
  grid-row: 1/span 2;
}

.image2 {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}

.image3 {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}

.image4 {
  grid-column: 3/span 2;
  grid-row: 1/span 2;
}

.image5 {
  grid-column: 5/span 1;
  grid-row: 1/span 1;
}

.image6 {
  grid-column: 5/span 1;
  grid-row: 2/span 1;
}

.image7 {
  grid-column: 6/span 2;
  grid-row: 1/span 2;
}

.main__lead {
  background: linear-gradient(270deg, #0291d9 0%, #023e78 100%);
  position: relative;
}

.main__lead__bg {
  position: absolute;
  width: 73.5897435897vw;
  bottom: 0;
  left: 0;
}
@media screen and (min-width: 1025px) {
  .main__lead__bg {
    width: 100%;
  }
}

.main__lead__inner {
  padding: 165px 0 131px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
@media screen and (min-width: 1025px) {
  .main__lead__inner {
    padding: 293px 0 118px;
    flex-direction: row;
    gap: 137px;
    margin-left: 100px;
  }
}

.main__lead__img {
  width: 85%;
  margin-left: auto;
}
.main__lead__img img {
  border-radius: 4px 0 0 4px;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .main__lead__img {
    width: 48%;
  }
}

.text-flow {
  width: fit-content;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  /* gap: 48px;  <-- これだと行間が開きすぎるので変更 */
  gap: 10px; /* 行間はline-heightで制御するか、段落の間だけmarginを入れる */
}
@media screen and (min-width: 1025px) {
  .text-flow {
    padding: 0;
  }
}

/* 段落の区切りを作るために、特定の行にだけマージンをつけるクラスを作ると便利 */
/* 例: <p class="text-flow__line mb-large"> */
.text-flow__line.mb-large {
  margin-bottom: 48px;
}

@media screen and (min-width: 1025px) {
  .space-01 {
    height: 63px !important;
  }
}

.text-flow__line {
  position: relative;
  display: inline-block; /* width: fit-content的に振る舞わせる */
  width: fit-content; /* これがないと右端までカバーが伸びてしまうことがある */
  /* ▼▼▼ 行間調整 ▼▼▼ */
  margin-bottom: 0; /* 必要に応じて調整 */
  text-shadow: 0 0 64px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8; /* バラバラにしたので少し詰めてもいいかも */
}
@media screen and (min-width: 1025px) {
  .text-flow__line {
    font-size: 18px;
  }
}

@keyframes text-flow {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
.text-flow__cover {
  /* delayはHTML側のstyle属性で指定 */
  --delay: 0s;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: #fff; /* 白文字 */
  /* ▼▼▼ アニメーション設定 ▼▼▼ */
  /* 1行あたりの所要時間を 1.5s に固定する例 */
  /* cubic-bezierだと「シュッ、シュッ」という動き、linearだと「スーッ」と一定の動き */
  animation: text-flow 1.5s cubic-bezier(0.19, 1, 0.22, 1) var(--delay) both;
  /* もし文章の長さに応じてスピードを変えたい場合は、
     HTML側で style="--delay: 1s; animation-duration: 2s;" のように個別に上書きする */
}

.text-flow__base {
  display: block;
  position: relative;
  color: #023e78; /* 暗い文字 */
  /* 下の文字は見えなくして、スペース確保用にするなら opacity: 0 でも良いが、
     今回は「暗い文字→明るい文字」への変化なので、このままでOK */
}

.business {
  background: linear-gradient(270deg, #0291d9 0%, #023e78 100%);
}

.business__inner {
  padding: 38px 0 51px 20px;
}
@media screen and (min-width: 1025px) {
  .business__inner {
    padding: 0 0 0 100px;
  }
}

.business__category {
  display: flex;
}
@media screen and (max-width: 767px) {
  .business__category {
    gap: 11px 8px;
    margin-bottom: 40px;
    margin-right: 24px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .business__category {
    gap: 11px 8px;
    margin-bottom: 40px;
    margin-right: 24px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1025px) {
  .business__category {
    flex-direction: row;
    margin-bottom: 33px;
    gap: 16px;
  }
}

.business__category__item {
  padding: 8px;
  border-radius: 4px;
  background: #e4eaf1;
  color: #023e78;
  border: 2px solid #0961b6;
  width: calc((100% - 8px) / 2);
  cursor: pointer;
}
@media screen and (min-width: 1025px) {
  .business__category__item {
    width: 298px;
    padding: 20px 30px;
  }
}
.business__category__item.--active {
  color: #fff;
  background-color: #023e78;
  border: 1px solid #fff;
}

.business__category__item__en {
  font-family: "Jost", sans-serif;
  font-size: 8px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6; /* 12.8px */
  text-transform: uppercase;
  margin-bottom: 4px;
}
@media screen and (min-width: 1025px) {
  .business__category__item__en {
    font-size: 14px;
  }
}

.business__category__item__ja {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6; /* 20.8px */
}
@media screen and (min-width: 1025px) {
  .business__category__item__ja {
    font-size: 18px;
    gap: 12px;
    flex-direction: row;
  }
}
.business__category__item__ja span {
  font-size: 14px;
  font-family: "Jost", sans-serif;
  font-style: italic;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (min-width: 1025px) {
  .business__category__item__ja span {
    font-size: 20px;
  }
}

.business__items {
  display: flex;
  gap: 16px;
}

.business__item {
  padding: 12px;
  border-radius: 4px;
  background-color: #e4eaf1;
}
@media screen and (min-width: 1025px) {
  .business__item {
    padding: 28px 22px;
  }
}

.business__item__en {
  color: #023e78;
  font-family: "Jost", sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6; /* 19.2px */
  letter-spacing: 0.36px;
  text-transform: uppercase;
  margin-bottom: 4px;
}
@media screen and (min-width: 1025px) {
  .business__item__en {
    font-size: 16px;
    letter-spacing: 0.48px;
  }
}

.business__item__ja {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #023e78;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6; /* 28.8px */
  margin-bottom: 12px;
}
.business__item__ja span {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.6px;
  font-family: "Jost", sans-serif;
}
@media screen and (min-width: 1025px) {
  .business__item__ja {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .business__item__ja span {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}

.business__item__img {
  margin-bottom: 12px;
}
.business__item__img img {
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .business__item__img {
    margin-bottom: 20px;
  }
}

.business__item__contents {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}
.business__item__contents dt {
  color: #023e78;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6; /* 24px */
  margin-bottom: 6px;
}
.business__item__contents dd {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7; /* 23.8px */
}
.business__item__contents dd ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5em;
}
@media screen and (min-width: 1025px) {
  .business__item__contents {
    margin-bottom: 32px;
  }
  .business__item__contents dt {
    font-size: 18px;
  }
  .business__item__contents dd {
    font-size: 16px;
  }
}

.modal__open-btn {
  padding: 20px;
  width: 100%;
  text-align: left;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4; /* 22.4px */
  position: relative;
  background-color: #023e78;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid transparent;
  transition: color 0.3s, border-color 0.3s;
  z-index: 1;
}
@media screen and (min-width: 1025px) {
  .modal__open-btn {
    padding: 20px 40px;
  }
}
.modal__open-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: -1;
  clip-path: circle(0% at 0% 100%);
  transition: clip-path 0.4s ease-out;
}
.modal__open-btn::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background: transparent url(/img/modal-btn.svg) no-repeat center center/contain;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.modal__open-btn:hover {
  color: #023e78;
  border-color: #023e78;
}
.modal__open-btn:hover::before {
  clip-path: circle(150% at 0% 100%);
}
.modal__open-btn:hover::after {
  background-image: url(/img/modal-hover-btn.svg);
}

.modal__content {
  padding: 64px 16px 16px;
}
@media screen and (min-width: 1025px) {
  .modal__content {
    padding: 48px;
    margin-top: 88px;
    margin-bottom: 42px;
  }
}

.modal__head__en {
  color: #023e78;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.7; /* 22.4px */
}
@media screen and (min-width: 1025px) {
  .modal__head__en {
    font-size: 18px;
    line-height: 1.6;
  }
}

.modal__head__ja {
  display: flex;
  gap: 12px;
  color: #023e78;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6; /* 32px */
}
.modal__head__ja span {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  font-style: italic;
  font-family: "Jost", sans-serif;
}
@media screen and (min-width: 1025px) {
  .modal__head__ja {
    font-size: 28px;
  }
  .modal__head__ja span {
    font-size: 30px;
  }
}

.modal__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
}
.modal__text dl {
  padding: 12px 0;
  border-bottom: 1px solid #c4ccd7;
}
.modal__text dt {
  color: #023e78;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6; /* 24px */
  margin-bottom: 10px;
}
.modal__text dd {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7; /* 25.5px */
}
.modal__text dd ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5em;
}
@media screen and (min-width: 1025px) {
  .modal__text {
    margin-bottom: 40px;
  }
  .modal__text dl {
    display: flex;
  }
  .modal__text dt {
    width: 26.25vw;
    font-size: 18px;
  }
  .modal__text dd {
    font-size: 16px;
  }
}

.modal__entry {
  padding: 20px 40px;
  width: 100%;
  background-color: #023e78;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
}
.modal__entry::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 20px;
  background: transparent url(/img/entry-arrow.svg) no-repeat center center/contain;
  top: 50%;
  transform: translateY(-50%);
  right: 45px;
}
@media screen and (min-width: 1025px) {
  .modal__entry::after {
    right: calc(50% - 110px);
  }
}

/* 初期設定 */
button {
  background: none;
}

:where(dialog) {
  width: unset;
  max-width: unset;
  height: unset;
  max-height: unset;
  padding: unset;
  color: unset;
  background-color: unset;
  border: unset;
  overflow: unset;
}

body:has(dialog[open]) {
  overflow: hidden;
}

/* モーダルのスタイル ============ */
dialog::backdrop {
  opacity: 0;
  transition: background 0.3s ease-in-out;
}
dialog.js-show.modal__content {
  opacity: 1;
}
dialog.js-show::backdrop {
  opacity: 1;
  /* 背景画像 */
  background: linear-gradient(0deg, rgba(2, 62, 120, 0.5) 0%, rgba(2, 62, 120, 0.5) 100%), rgba(211, 211, 211, 0.5);
}

.modal__content {
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  /* モーダル枠組みのスタイル */
  width: min(1200px, 95%);
  background: #fff;
  margin-top: 15px;
  border-radius: 12px;
  border: 1px solid #404559;
  background: #fff;
}

.modal__inner {
  overflow-y: scroll;
  height: 100%;
  position: relative;
}

.modal__body {
  height: fit-content;
  /* modal内のスタイル */
}
.modal__body h3 {
  font-size: 30px;
  font-weight: 700;
}
.modal__body p {
  font-size: 20px;
}

.modal__close-btn {
  position: absolute;
  z-index: 2;
  top: 16px;
  right: 125px;
  width: 36px;
  display: flex;
  white-space: nowrap;
  color: #023e78;
  gap: 12px;
}
.modal__close-btn p {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7; /* 20.4px */
}
@media screen and (min-width: 1025px) {
  .modal__close-btn {
    flex-direction: column-reverse;
    right: 48px;
    top: 48px;
    align-items: flex-end;
  }
}

.challenge {
  background: linear-gradient(270deg, #0291d9 0%, #023e78 100%);
  position: relative;
}

.challenge__bg {
  position: absolute;
  width: 78.7179487179vw;
  top: 0;
  right: 0;
  z-index: 0;
}
@media screen and (min-width: 1025px) {
  .challenge__bg {
    width: 59.7916666667vw;
  }
}

.challenge__inner {
  padding-top: 74px;
  padding-bottom: 80px;
}
@media screen and (min-width: 1025px) {
  .challenge__inner {
    padding-top: 230px;
    padding-bottom: 152px;
  }
}

.challenge__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 26px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1025px) {
  .challenge__items {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    row-gap: 96px;
    column-gap: 72px;
  }
  .challenge__items > *:first-child {
    /* ここに左カラム専用のスタイルを書く */
    margin-top: 64px;
  }
  .challenge__items > *:nth-child(4) {
    /* 4つ目だけに当てるスタイル */
    margin-top: -64px;
  }
}

.challenge__item {
  border-radius: 4px;
  background: rgba(244, 251, 255, 0.7);
}
.challenge__item.--01 {
  border-bottom: 14px solid #37a4db;
}
.challenge__item.--02 {
  border-bottom: 14px solid #2766ae;
}
.challenge__item.--03 {
  border-bottom: 14px solid #025178;
}
.challenge__item.--04 {
  border-bottom: 14px solid #023e78;
}
@media screen and (min-width: 1025px) {
  .challenge__item {
    width: 40.4166666667vw;
  }
}

.challenge__item__stage {
  padding: 12px 28px;
  color: #fff;
  width: fit-content;
  border-radius: 0 0 4px 0;
}
.challenge__item__stage.--01 {
  background-color: #37a4db;
}
.challenge__item__stage.--02 {
  background-color: #2766ae;
}
.challenge__item__stage.--03 {
  background-color: #025178;
}
.challenge__item__stage.--04 {
  background-color: #023e78;
}
.challenge__item__stage span {
  font-family: "Jost", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  line-height: 1; /* 15px */
  letter-spacing: 0.45px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .challenge__item__stage span {
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}
.challenge__item__stage strong {
  margin-left: 8px;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 1; /* 20px */
  letter-spacing: 0.6px;
}
@media screen and (min-width: 1025px) {
  .challenge__item__stage strong {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}
.challenge__item__stage p {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6; /* 28.8px */
  margin-top: 4px;
}
@media screen and (min-width: 1025px) {
  .challenge__item__stage p {
    font-size: 24px;
  }
}

.challenge__item__text {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7; /* 25.5px */
  margin-bottom: 28px;
  padding: 28px 24px 0;
}
@media screen and (min-width: 1025px) {
  .challenge__item__text {
    font-size: 16px;
    margin-bottom: 41px;
  }
}

.challenge__item__img {
  padding: 0 24px 16px;
}
.challenge__item__img img {
  width: 100%;
  border-radius: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .challenge__item__img img {
    border-radius: 12px;
  }
}

/* ================================
   本題のCSS
=============================== */
.member__card__swiper-container,
.member__card__swiper,
.member__card__swiper-wrapper,
.member__card__swiper-slide {
  position: relative;
}

/* 位置のreset */
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
  margin: 0;
  padding: 0;
}

/* =============================
   ナビゲーションボタン
============================= */
/* デフォルトのボタンを初期化 */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: ""; /* デフォルトのものを初期化 */
}

/* 各ボタンのカスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  translate: 0 -50%;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 1025px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 5.5555555556vw;
    height: 5.5555555556vw;
  }
}
.swiper-button-prev svg,
.swiper-button-next svg {
  width: 100%;
  height: 100%;
}
.swiper-button-prev:hover svg,
.swiper-button-next:hover svg {
  /* 1. 外側の円 (rect) */
  /* 2. 中の矢印 (path) */
}
.swiper-button-prev:hover svg rect,
.swiper-button-next:hover svg rect {
  fill: #023E78 !important; /* 背景を青に塗りつぶす */
  stroke: #fff !important; /* 枠線を白にする */
}
.swiper-button-prev:hover svg path,
.swiper-button-next:hover svg path {
  stroke: #fff !important; /* 矢印を白にする */
}

.swiper-button-prev {
  right: 86px;
}
@media screen and (min-width: 1025px) {
  .swiper-button-prev {
    right: 14.277778vw;
  }
}

.swiper-button-next {
  right: 20px;
}
@media screen and (min-width: 1025px) {
  .swiper-button-next {
    right: 6.9444444444vw;
  }
}

/* =============================
   ページネーション (bullets)
============================= */
/* 位置の設定 (枠組み) */
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: calc(100% + 29px);
}

/* それぞれのページネーション */
.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  opacity: 1;
  width: 12px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #d9d9d9;
  margin-inline: 5.5px;
}

/* activeな部分 */
.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active {
  background: #000;
}

.member {
  background-color: #e4eaf1;
  position: relative;
}

.member__bg {
  position: absolute;
  width: 78.2051282051vw;
  left: 0;
  top: 0;
}
@media screen and (min-width: 1025px) {
  .member__bg {
    width: 65.2777777778vw;
  }
}

.member__inner {
  padding: 80px 0 236px 20px;
}
@media screen and (min-width: 1025px) {
  .member__inner {
    padding: 120px 0 263px 100px;
  }
}

.member__card__swiper {
  padding-top: 30px;
}

.member__card__swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
}

.member__card__swiper-slide__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  bottom: 20px;
}
.member__card__swiper-slide__description p {
  width: fit-content;
  padding: 4px 16px;
  background-color: #fff;
  color: #023e78;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5; /* 30px */
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.member__card__swiper-slide__description span {
  font-size: 16px;
  letter-spacing: 0.8px;
}

.member__card__swiper-slide__number {
  position: absolute;
  width: 61px;
  right: 1px;
  top: -29px;
  z-index: 3;
}
@media screen and (min-width: 1025px) {
  .member__card__swiper-slide__number {
    right: 8px;
    top: -23px;
  }
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #023e78 !important;
}

.swiper-pagination-progressbar {
  background: #c4ccd7 !important;
}

/* ===================================
   Swiper Scrollbar (進捗バー風カスタム)
=================================== */
/* バーの背景（グレーの軌道部分） */
.member__card__swiper-container .swiper-scrollbar {
  /* 元の .swiper-pagination-progressbar のスタイルを移植 */
  position: absolute;
  left: 0;
  width: 95%; /* 元の幅指定 */
  height: 7px; /* 元のプログレスバーの高さに合わせる（※数値は確認してください） */
  background: #c4ccd7 !important; /* 軌道の色 */
  border-radius: 0; /* 丸みを消す */
  opacity: 1 !important;
  /* 位置調整（元のCSSから移植） */
  top: auto !important;
  bottom: -76px !important;
}
@media screen and (min-width: 1025px) {
  .member__card__swiper-container .swiper-scrollbar {
    width: 67.7777777778vw;
    bottom: -7.1527777778vw !important;
  }
}

/* 動くバー（青い部分） */
.member__card__swiper-container .swiper-scrollbar-drag {
  /* 元の .swiper-pagination-progressbar-fill のスタイルを移植 */
  background: #0961b6 !important; /* 青色 */
  border-radius: 0; /* 丸みを消す */
  /* スクロールバー特有の調整 */
  position: relative;
  top: 0;
  height: 100%;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1 !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: auto !important;
  bottom: -176px;
}
@media screen and (min-width: 1025px) {
  .swiper-button-prev,
  .swiper-button-next {
    bottom: -11.8055555556vw;
  }
}

.member__card__swiper-slide__img {
  margin-bottom: 24px;
  width: 100%;
  position: relative;
  box-shadow: 0 5px 15px rgba(26, 150, 239, 0.15);
}
.member__card__swiper-slide__img img {
  width: 100%;
}

.member__card__swiper-slide__lead {
  padding: 12px 13px;
  flex-grow: 1;
  background-color: #023e78;
  color: #fff;
  color: var(--, #fff);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 2; /* 30px */
  letter-spacing: 0.3px;
}
.culture {
  background-color: #f2f4f6;
}

.culture__inner {
  padding: 80px 0 89px;
}
@media screen and (min-width: 1025px) {
  .culture__inner {
    padding: 120px 0;
    max-width: 1240px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.culture__items {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
@media screen and (min-width: 1025px) {
  .culture__items {
    padding: 0 40px;
  }
}

.culture__item {
  padding: 28px 0px;
  margin: 0 12px;
  border-bottom: 2px solid #c4ccd7;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.culture__item:last-child {
  border-bottom: none;
}
@media screen and (min-width: 1025px) {
  .culture__item {
    flex-direction: row;
    align-items: center;
    padding: 26px 24px;
  }
}

.culture__lead {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 1025px) {
  .culture__lead {
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
  }
}

.culture__lead__img {
  width: 64px;
  margin: 0 auto;
}

.culture__lead__text {
  color: #023e78;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .culture__lead__text {
    text-align: left;
    width: 27.4305555556vw;
  }
}
.culture__lead__text p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 2px;
}
@media screen and (min-width: 1025px) {
  .culture__lead__text p {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 12px;
  }
}
.culture__lead__text span {
  font-family: "Jost", sans-serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.39px;
  text-transform: uppercase;
}
@media screen and (min-width: 1025px) {
  .culture__lead__text span {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.42px;
  }
}

.culture__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
}
@media screen and (min-width: 1025px) {
  .culture__text {
    font-size: 16px;
  }
}

/* 背景画像の見えている高さ */
.parallax {
  height: 379px;
}
@media screen and (min-width: 1025px) {
  .parallax {
    height: 380px;
  }
}

/* 背景画像 */
.parallax::before {
  background-image: url(/img/parallax.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.benefits {
  background-color: #f2f4f6;
  position: relative;
}

.benefits__bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 56.4102564103vw;
}
@media screen and (min-width: 1025px) {
  .benefits__bg {
    width: 53.2638888889vw;
  }
}

.benefits__inner {
  padding: 84px 0;
}
@media screen and (min-width: 1025px) {
  .benefits__inner {
    padding: 120px 0;
  }
}

.benefits__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}
.benefits__title img {
  width: 20px;
}
@media screen and (min-width: 1025px) {
  .benefits__title img {
    width: 30px;
  }
}
.benefits__title span {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}
@media screen and (min-width: 1025px) {
  .benefits__title span {
    font-size: 24px;
  }
}

.faq {
  background-color: #e4eaf1;
  position: relative;
}

.faq__bg {
  position: absolute;
  width: 70.7692307692vw;
  left: 0;
  z-index: 0;
  top: 1290px;
}
@media screen and (min-width: 1025px) {
  .faq__bg {
    width: 40.5555555556vw;
    top: 510px;
  }
}

.faq__accent {
  position: absolute;
  right: 0;
  top: 0;
  width: 46.9230769231vw;
}
@media screen and (min-width: 1025px) {
  .faq__accent {
    width: 22.0138888889vw;
  }
}

.faq__accent__sub {
  position: absolute;
  width: 22.0138888889vw;
  right: 3.6111111111vw;
  bottom: 8.8888888889vw;
}

.faq__inner {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1025px) {
  .faq__inner {
    flex-direction: row;
    gap: 16.111111vw;
    padding-top: 130px;
  }
}

.faq__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .faq__items {
    gap: 30px;
  }
}

.faq__item {
  padding: 15px 9px;
  background-color: #f2f4f6;
  border-radius: 4px;
}
.faq__item dl {
  display: flex;
  align-items: center;
  gap: 8px;
}
.faq__item dt {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  cursor: pointer;
}
.faq__item dt span {
  width: 28px;
  border-radius: 50%;
  background: rgba(255, 244, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #023e78;
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.27;
}
.faq__item dt img {
  width: 32px;
  margin-left: auto;
  transition: transform 0.3s ease;
}
.faq__item dt p {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}
.faq__item dd {
  border-top: 2px solid #c4ccd7;
  color: #023e78;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  padding-top: 8px;
  display: none;
}
.faq__item dd.--open {
  display: block;
}
.faq__item dt.--open img {
  transform: rotate(180deg);
}
@media screen and (min-width: 1025px) {
  .faq__item {
    padding: 23px 8px 20px;
  }
  .faq__item dt {
    padding-bottom: 16px;
    gap: 23px;
    padding: 0 44px 13px;
  }
  .faq__item dt span {
    width: 36px;
    font-size: 28px;
    line-height: 1.4;
  }
  .faq__item dt p {
    font-size: 20px;
  }
  .faq__item dd {
    font-size: 16px;
    padding: 16px 48px 0;
  }
}

.cta {
  padding: 12px;
  background-color: #e4eaf1;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1025px) {
  .cta {
    padding: 55px;
  }
}

.cta__content {
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(270deg, #0291d9 0%, #023e78 100%);
  padding: 56px 8px 71px;
}
@media screen and (min-width: 1025px) {
  .cta__content {
    position: relative;
    height: 44.1666666667vw;
    perspective: 2000px;
    perspective-origin: center;
    transform-style: preserve-3d;
    overflow: hidden;
    border-radius: 8px;
  }
}

.door-left,
.door-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.door-left img,
.door-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: top;
}

.door-left {
  left: 0;
  transform-origin: left center;
}

.door-right {
  right: 0;
  transform-origin: right center;
}

.cta__message {
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .cta__message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cta__join {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.5; /* 48px */
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media screen and (min-width: 1025px) {
  .cta__join {
    font-size: 56px;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.cta__lead {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7; /* 23.8px */
  margin-bottom: 55px;
}
@media screen and (min-width: 1025px) {
  .cta__lead {
    font-size: 16px;
  }
}

.cta__btn {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5; /* 27px */
  letter-spacing: 0.9px;
  text-transform: uppercase;
  padding: 16px 92px 16px 64px;
  border-radius: 44px;
  border: 1px solid #fff;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .cta__btn {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.2px;
  }
}
.cta__btn::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff400;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}

/* ホバー時のアニメーション */
.cta__content:hover .door-left {
  width: 60%;
  transform: rotateY(61deg) scaleX(0.8);
}

.cta__content:hover .door-right {
  width: 60%;
  transform: rotateY(-61deg) scaleX(0.8);
}

.footer {
  background-color: #e4eaf1;
  position: relative;
}

.footer__bg {
  position: absolute;
  z-index: 0;
  width: 64.1025641026vw;
  bottom: 0;
  right: 0;
}
@media screen and (min-width: 1025px) {
  .footer__bg {
    width: 58.6111111111vw;
  }
}

.footer__inner {
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 32px;
}
@media screen and (min-width: 1025px) {
  .footer__inner {
    padding: 84px 23px 64px;
    gap: 0px;
    flex-direction: row;
  }
}

@media screen and (min-width: 1025px) {
  .footer__left {
    margin-right: auto;
  }
}

.footer__logo {
  width: 280px;
  margin-bottom: 32px;
  display: inline-block;
}
@media screen and (min-width: 1025px) {
  .footer__logo {
    margin-bottom: 40px;
  }
}
.footer__logo:hover {
  opacity: 0.7;
}

address {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6; /* 25.6px */
}
@media screen and (min-width: 1025px) {
  address {
    font-size: 16px;
    line-height: 1.7;
  }
}

.footer__menu {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 47px;
}
@media screen and (min-width: 1025px) {
  .footer__menu {
    flex-direction: row;
    gap: 20px;
    padding-bottom: 75px;
  }
}

.footer__menu__contents {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
@media screen and (min-width: 1025px) {
  .footer__menu__contents {
    gap: 0;
    width: 250px;
  }
}

.footer__menu__item {
  padding: 8px 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4; /* 25.2px */
  position: relative;
  /* 下線の設定 */
  /* ホバー時の挙動 */
}
.footer__menu__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* 文字のすぐ下に配置 */
  width: 100%;
  height: 1px; /* 線の太さ */
  background-color: #0961b6; /* 線の色（メインカラーに合わせて調整） */
  /* アニメーションの肝 */
  transform: scaleX(0); /* 最初は横幅0 */
  transform-origin: left; /* 左を基準にする */
  transition: transform 0.3s ease;
}
.footer__menu__item:hover::after {
  transform: scaleX(1); /* 幅を100%にする */
}
@media screen and (min-width: 1025px) {
  .footer__menu__item {
    padding: 12px 0;
  }
}

.footer__sns {
  display: flex;
  gap: 36px;
}
@media screen and (min-width: 1025px) {
  .footer__sns {
    padding-left: 16px;
  }
}

.footer__sns__item {
  width: 40px;
}
.footer__sns__item:hover {
  opacity: 0.7;
}

.copyright {
  position: absolute;
  left: 0;
  bottom: 42px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 18px */
}
@media screen and (min-width: 1025px) {
  .copyright {
    left: 25px;
    bottom: 94px;
  }
}