// breakpoints
$breakpoints: (
    "sp": "screen and (max-width: 767px)",
    "tb": "screen and (min-width: 768px) and (max-width: 1024px)",
    "pc": "screen and (min-width: 1025px)",
) !default;

@mixin mq($breakpoint: pc) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// 色
$text-main: #404559;
$text-dark: #023e78;
$text-sub: #fff;

$bg-01: #f2f4f6;
$bg-02: #e4eaf1;
$bg-03: #023e78;
$bg-04: #0291d9;

// font
$font-ja: 'Zen Kaku Gothic New', sans-serif;
$font-en: 'Jost', sans-serif;

// common
$width-inner:1240px;

.section__inner {
  margin-left: 24px;
  margin-right: 24px;
  @include mq(pc) {
    margin-left: 100px;
    margin-right: 100px;
  }
}
.section__title {
  margin-bottom: 40px;
  @include mq(pc) {
    margin-bottom: 64px;
  }
  p {
    font-size: 32px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    font-family: $font-en;
    @include mq(pc) {
      font-size: 64px;
letter-spacing: 1.28px;
    }
  }
  span {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 1.5px;
    @include mq(pc) {
      font-size: 18px;
      letter-spacing: 1.8px;
    }
  }
  &.--gradation {
    p {
      background: linear-gradient(270deg, #0a9ae5 0%, #023e78 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.is-sp{
  @include mq(pc) {
    display: none;
  }
}
.is-pc{
  @include mq(sp) {
    display: none;
  }
  @include mq(tb) {
    display: none;
  }
}
body {
  color: $text-main;
  font-family: $font-ja;
}
// culture
.culture {
  background-color:$bg-01;
}

.culture__inner {
  padding: 80px 0;
  @include mq(pc) {
    padding: 120px 0;
    max-width: $width-inner;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.culture__items {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(10px);
  @include mq(pc) {
    padding: 0 40px;
  }
}

.culture__item {
  padding: 28px 0;
  border-bottom: 2px solid #c4ccd7;
  display: flex;
  flex-direction: column;
  gap: 32px;
  &:last-child {
    border-bottom: none;
  }
  @include mq(pc) {
    flex-direction: row;
    align-items: center;
  }
}

.culture__lead {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include mq(pc) {
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
  }
}

.culture__lead__img {
  width: 64px;
  margin: 0 auto;
}

.culture__lead__text {
  color: $text-dark;
  text-align: center;
  @include mq(pc) {
    text-align: left;
    width: calc(395 / 1440 * 100vw );
  }
  p {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 4px;
    @include mq(pc) {
      font-size: 24px;
      line-height: 1.6;
      margin-bottom: 12px;
    }
  }
  span {
    font-family: $font-en;
    font-style: italic;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.39px;
    text-transform: uppercase;
    @include mq(pc) {
      font-size: 14px;
      line-height: 1.6;
      letter-spacing: 0.42px;
    }
  }
}

.culture__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
  @include mq(pc) {
    font-size: 16px;
  }
}

// 福利厚生
.benefits{
  background-color: $bg-01;
}
.benefits__inner{
  padding: 80px 0;
  @include mq(pc) {
    padding: 120px 0;
  }
}
.benefits__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  img{
    width: 20px;
    @include mq(pc) {
      width: 30px;
    }

  }
  span{
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 1.6;
@include mq(pc) {
  font-size: 24px;
}

  }

}


