// breakpoints
$breakpoints: (
  'sp': 'screen and (max-width: 767px)',
  'tb': 'screen and (min-width: 768px) and (max-width: 1024px)',
  'pc': 'screen and (min-width: 1025px)',
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// 色
$text-main: #404559;
$text-dark: #023e78;
$text-sub: #fff;

$bg-01: #f2f4f6;
$bg-02: #e4eaf1;
$bg-03: #023e78;
$bg-04: #0291d9;

// font
$font-ja: 'Zen Kaku Gothic New', sans-serif;
$font-en: 'Jost', sans-serif;

// common
$width-inner: 1240px;

.section__inner {
  margin-left: 24px;
  margin-right: 24px;
  @include mq(pc) {
    margin-left: 100px;
    margin-right: 100px;
  }
}
.section__title {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
  @include mq(pc) {
    margin-bottom: 64px;
  }
  p {
    font-size: 32px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    font-family: $font-en;
    @include mq(pc) {
      font-size: 64px;
      letter-spacing: 1.28px;
    }
  }
  span {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 1.5px;
    @include mq(pc) {
      font-size: 18px;
      letter-spacing: 1.8px;
    }
  }
  &.--gradation {
    p {
      background: linear-gradient(270deg, #0a9ae5 0%, #023e78 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.is-sp {
  @include mq(pc) {
    display: none;
  }
}
.is-pc {
  @include mq(sp) {
    display: none;
  }
  @include mq(tb) {
    display: none;
  }
}
body {
  color: $text-main;
  font-family: $font-ja;
}
// member
/* ================================
   本題のCSS
=============================== */
.member__card__swiper-container,
.member__card__swiper,
.member__card__swiper-wrapper,
.member__card__swiper-slide {
  position: relative;
}

/* 位置のreset */
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
  margin: 0;
  padding: 0;
}

/* =============================
   ナビゲーションボタン
============================= */
/* デフォルトのボタンを初期化 */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: ""; /* デフォルトのものを初期化 */
}

/* 各ボタンのカスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  translate: 0 -50%;
  width: 40px;
  height: 40px;
  @include mq(pc) {
    width: 80px;
    height: 80px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.swiper-button-prev {
  right: 100px;
  @include mq(pc) {
    right: 220px;
  }
}

.swiper-button-next {
  right: 20px;
  @include mq(pc) {
    right: 100px;
  }
}

/* =============================
   ページネーション (bullets)
============================= */
/* 位置の設定 (枠組み) */
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: calc(100% + 29px);
}

/* それぞれのページネーション */
.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  opacity: 1;
  width: 12px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #d9d9d9;
  margin-inline: calc(11px / 2);
}

/* activeな部分 */
.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active {
  background: #000;
}
.member {
  background-color: $bg-02;
}

.member__inner {
  padding: 80px 0 236px 20px;
  @include mq(pc) {
    padding: 120px 0 263px 100px;
  }

}

.member__slide {

}

.member__card__inner {

}

.member__card__swiper-container {

}

.swiper {

}

.member__card__swiper {

}

.swiper-wrapper {

}

.member__card__swiper-wrapper {

}

.swiper-slide {

}

.member__card__swiper-slide {
  position: relative;

}
.member__card__swiper-slide__number{
  position: absolute;
  width: 61px;
  right: 8px;
  top: -20px;
  z-index: 3;


}
.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
  top: auto !important;
  bottom: -64px !important;
  width: 95%;
  @include mq(pc) {
    width: calc(976 / 1440 * 100vw);
    bottom: -103px !important;
  }
}
.swiper-button-prev, .swiper-button-next{
  top: auto !important;
  bottom: -170px;
}

.member__card__swiper-slide__img {
  margin-bottom: 20px;
  width: 100%;
}


.member__card__swiper-slide__lead {
  padding: 12px 16px;
  height: calc(2em * 8);
  background-color: $bg-03;
  color: $text-sub;
  color: var(--, #FFF);
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 2; /* 30px */
letter-spacing: 0.3px;
@include mq(pc) {
  height: calc(2em * 7);
}

}

.swiper-pagination {

}

.swiper-button-prev {

}

.swiper-button-next {

}



// culture
.culture {
  background-color: $bg-01;
}

.culture__inner {
  padding: 80px 0;
  @include mq(pc) {
    padding: 120px 0;
    max-width: $width-inner;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.culture__items {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  @include mq(pc) {
    padding: 0 40px;
  }
}

.culture__item {
  padding: 28px 0;
  border-bottom: 2px solid #c4ccd7;
  display: flex;
  flex-direction: column;
  gap: 32px;
  &:last-child {
    border-bottom: none;
  }
  @include mq(pc) {
    flex-direction: row;
    align-items: center;
  }
}

.culture__lead {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include mq(pc) {
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
  }
}

.culture__lead__img {
  width: 64px;
  margin: 0 auto;
}

.culture__lead__text {
  color: $text-dark;
  text-align: center;
  @include mq(pc) {
    text-align: left;
    width: calc(395 / 1440 * 100vw);
  }
  p {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 4px;
    @include mq(pc) {
      font-size: 24px;
      line-height: 1.6;
      margin-bottom: 12px;
    }
  }
  span {
    font-family: $font-en;
    font-style: italic;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.39px;
    text-transform: uppercase;
    @include mq(pc) {
      font-size: 14px;
      line-height: 1.6;
      letter-spacing: 0.42px;
    }
  }
}

.culture__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
  @include mq(pc) {
    font-size: 16px;
  }
}
/* 背景画像の見えている高さ */
.parallax {
  height: 488px;
  @include mq(pc) {
    height: 380px;
  }
}

/* 背景画像 */
.parallax::before {
  background-image: url(/img/parallax.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

// 福利厚生
.benefits {
  background-color: $bg-01;
  position: relative;
}
.benefits__bg {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(220 / 390 * 100vw);
  @include mq(pc) {
    width: calc(767 / 1440 * 100vw);
  }
}
.benefits__inner {
  padding: 80px 0;
  @include mq(pc) {
    padding: 120px 0;
  }
}
.benefits__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  img {
    width: 20px;
    @include mq(pc) {
      width: 30px;
    }
  }
  span {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6;
    @include mq(pc) {
      font-size: 24px;
    }
  }
}

// faq
.faq {
  background-color: $bg-02;
  position: relative;
}
.faq__bg{
  position: absolute;
  width: calc(276 / 390 * 100vw);
  bottom: 0;
  left: 0;
  z-index: 0;
  @include mq(pc) {
    width: calc(584 / 1440 * 100vw);
  }

}
.faq__accent{
  position: absolute;
  right: 0;
  top: 0;
  width: calc(183 / 390 * 100vw);
  @include mq(pc) {
    width: calc(317 / 1440 * 100vw);
  }

}
.faq__accent__sub{
  position: absolute;
  width: calc(317 / 1440 * 100vw);
  right: calc(52 / 1440 * 100vw);
  bottom: calc(128 / 1440 * 100vw);
}

.faq__inner {
  padding-top: 100px;
  padding-bottom: 112px;
  display: flex;
  flex-direction: column;
  @include mq(pc) {
    flex-direction: row;
    gap: calc(160 / 1440 * 100vw);
  }
}

.faq__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  position: relative;
}

.faq__item {
  padding: 8px 12px;
  background-color: $bg-01;
  border-radius: 4px;
  dl {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  dt {
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    cursor: pointer;
    span {
      width: 28px;
      border-radius: 50%;
      background: rgba(255, 244, 0, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-dark;
      font-size: 22px;
      font-style: italic;
      font-weight: 500;
      line-height: 1.27;
    }
    img {
      width: 32px;
      margin-left: auto;
      transition: transform 0.3s ease;
    }
    p {
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.6;
    }
  }
  dd {
    border-top: 2px solid #c4ccd7;
    color: $text-dark;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    padding-top: 8px;
    display: none;

    &.--open {
      display: block;
    }
  }
  dt.--open img {
    transform: rotate(180deg);
  }
}


// cta
.cta {
  padding: 12px;
  background-color: #e4eaf1;
  position: relative;
  z-index: 1;
  @include mq(pc) {
    padding: 32px;
  }
}
.cta__content {
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(270deg, #0291d9 0%, #023e78 100%);
  padding: 56px 8px;
  @include mq(pc) {
    position: relative;
    height: calc(636 / 1440 * 100vw);
    perspective: 2000px;
    perspective-origin: center;
    transform-style: preserve-3d;
    overflow: hidden;
    border-radius: 8px;
  }
}

.door-left,
.door-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: top;
  }
}

.door-left {
  left: 0;
  transform-origin: left center;
}

.door-right {
  right: 0;
  transform-origin: right center;
}
.cta__message {
  text-align: center;
  @include mq(pc) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cta__join {
  color: $text-sub;
  font-family: $font-en;
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.5; /* 48px */
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-bottom: 24px;
  @include mq(pc) {
    font-size: 56px;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    margin-bottom: 36px;
  }
}

.cta__lead {
  color: $text-sub;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7; /* 23.8px */
  margin-bottom: 40px;
  @include mq(pc) {
    font-size: 16px;
  }
}

.cta__btn {
  color: $text-sub;
  font-family: $font-en;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5; /* 27px */
  letter-spacing: 0.9px;
  text-transform: uppercase;
  padding: 16px 92px 16px 64px;
  border-radius: 44px;
  border: 1px solid $text-sub;
  position: relative;
  @include mq(pc) {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.2px;
  }
  &::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff400;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
  }
}

/* ホバー時のアニメーション */
.cta__content:hover .door-left {
  width: 35%;
  transform: rotateY(24deg) scaleX(0.8);
}

.cta__content:hover .door-right {
  width: 35%;
  transform: rotateY(-24deg) scaleX(0.8);
}

// footer
.footer {
   background-color: #e4eaf1;
   position: relative;

}
.footer__bg{
  position: absolute;
  z-index: 0;
  width: calc(250 / 390 * 100vw);
  bottom: 0;
  right: 0;
  @include mq(pc) {
    width: calc(844 / 1440 * 100vw);
  }

}

.footer__inner {
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 32px;
  @include mq(pc) {
    padding: 80px 0 32px;
    gap:0px;
    flex-direction: row;
  }

}

.footer__left {
  @include mq(pc) {
    margin-right: auto;
  }

}

.footer__logo {
  width: 280px;
  margin-bottom: 32px;
  display: inline-block;
  @include mq(pc) {
    margin-bottom: 40px;
  }

}
address{
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.6; /* 25.6px */
@include mq(pc) {
  font-size: 16px;
  line-height: 1.7;
}
}

.footer__right {

}

.footer__menu {
  display: flex;
  flex-direction: column;
  padding: 16px;
  @include mq(pc) {
    flex-direction: row;
    gap: 20px;
  }

}
.footer__menu__contents{
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include mq(pc) {
    gap:0;
    width: 250px;
  }
}

.footer__menu__item {
  padding: 8px 0;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.4; /* 25.2px */

}

.footer__sns {
  display: flex;
  gap: 36px;

}

.footer__sns__item {
  width: 40px;

}
.copyright{
  position: absolute;
  left: 0;
  bottom: 0;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 18px */
}


