@charset "UTF-8";
.section__inner {
  margin-left: 24px;
  margin-right: 24px;
}
@media screen and (min-width: 1025px) {
  .section__inner {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.section__title {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 1025px) {
  .section__title {
    margin-bottom: 64px;
  }
}
.section__title p {
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
}
@media screen and (min-width: 1025px) {
  .section__title p {
    font-size: 64px;
    letter-spacing: 1.28px;
  }
}
.section__title span {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 1.5px;
}
@media screen and (min-width: 1025px) {
  .section__title span {
    font-size: 18px;
    letter-spacing: 1.8px;
  }
}
.section__title.--gradation p {
  background: linear-gradient(270deg, #0a9ae5 0%, #023e78 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section__title.--white {
  color: #fff;
}

@media screen and (min-width: 1025px) {
  .is-sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .is-pc {
    display: none;
  }
}

body {
  color: #404559;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.challenge {
  background: linear-gradient(270deg, #0291d9 0%, #023e78 100%);
  position: relative;
}

.challenge__bg {
  position: absolute;
  width: 78.7179487179vw;
  top: 0;
  right: 0;
  z-index: 0;
}
@media screen and (min-width: 1025px) {
  .challenge__bg {
    width: 59.7916666667vw;
  }
}

.challenge__inner {
  padding-top: 120px;
  padding-bottom: 80px;
}
@media screen and (min-width: 1025px) {
  .challenge__inner {
    padding-top: 222px;
    padding-bottom: 133px;
  }
}

.challenge__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1025px) {
  .challenge__items {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    row-gap: 96px;
  }
  .challenge__items > *:first-child {
    /* ここに左カラム専用のスタイルを書く */
    margin-top: 64px;
  }
  .challenge__items > *:nth-child(4) {
    /* 4つ目だけに当てるスタイル */
    margin-top: -64px;
  }
}

.challenge__item {
  border-radius: 4px;
  background: rgba(244, 251, 255, 0.7);
}
.challenge__item.--01 {
  border-bottom: 12px solid #37a4db;
}
.challenge__item.--02 {
  border-bottom: 12px solid #2766ae;
}
.challenge__item.--03 {
  border-bottom: 12px solid #025178;
}
.challenge__item.--04 {
  border-bottom: 12px solid #023e78;
}
@media screen and (min-width: 1025px) {
  .challenge__item {
    width: 40.4166666667vw;
  }
}

.challenge__item__stage {
  padding: 12px 28px;
  color: #fff;
  width: fit-content;
  border-radius: 0 0 4px 0;
}
.challenge__item__stage.--01 {
  background-color: #37a4db;
}
.challenge__item__stage.--02 {
  background-color: #2766ae;
}
.challenge__item__stage.--03 {
  background-color: #025178;
}
.challenge__item__stage.--04 {
  background-color: #023e78;
}
.challenge__item__stage span {
  font-family: "Jost", sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  line-height: 1; /* 15px */
  letter-spacing: 0.45px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .challenge__item__stage span {
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}
.challenge__item__stage strong {
  margin-left: 8px;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 1; /* 20px */
  letter-spacing: 0.6px;
}
@media screen and (min-width: 1025px) {
  .challenge__item__stage strong {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}
.challenge__item__stage p {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6; /* 28.8px */
  margin-top: 4px;
}
@media screen and (min-width: 1025px) {
  .challenge__item__stage p {
    font-size: 24px;
  }
}

.challenge__item__text {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7; /* 25.5px */
  margin-bottom: 28px;
  padding: 28px 24px 0;
}
@media screen and (min-width: 1025px) {
  .challenge__item__text {
    font-size: 16px;
    margin-bottom: 41px;
  }
}

.challenge__item__img {
  padding: 0 24px 16px;
}
.challenge__item__img img {
  width: 100%;
  border-radius: 4px;
}

/* ================================
   本題のCSS
=============================== */
.member__card__swiper-container,
.member__card__swiper,
.member__card__swiper-wrapper,
.member__card__swiper-slide {
  position: relative;
}

/* 位置のreset */
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
  margin: 0;
  padding: 0;
}

/* =============================
   ナビゲーションボタン
============================= */
/* デフォルトのボタンを初期化 */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: ""; /* デフォルトのものを初期化 */
}

/* 各ボタンのカスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  translate: 0 -50%;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 1025px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 80px;
    height: 80px;
  }
}
.swiper-button-prev svg,
.swiper-button-next svg {
  width: 100%;
  height: 100%;
}

.swiper-button-prev {
  right: 100px;
}
@media screen and (min-width: 1025px) {
  .swiper-button-prev {
    right: 220px;
  }
}

.swiper-button-next {
  right: 20px;
}
@media screen and (min-width: 1025px) {
  .swiper-button-next {
    right: 100px;
  }
}

/* =============================
   ページネーション (bullets)
============================= */
/* 位置の設定 (枠組み) */
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: calc(100% + 29px);
}

/* それぞれのページネーション */
.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  opacity: 1;
  width: 12px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #d9d9d9;
  margin-inline: 5.5px;
}

/* activeな部分 */
.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active {
  background: #000;
}

.member {
  background-color: #e4eaf1;
  position: relative;
}

.member__bg {
  position: absolute;
  width: 78.2051282051vw;
  left: 0;
  top: 0;
}
@media screen and (min-width: 1025px) {
  .member__bg {
    width: 65.2777777778vw;
  }
}

.member__inner {
  padding: 80px 0 236px 20px;
}
@media screen and (min-width: 1025px) {
  .member__inner {
    padding: 120px 0 263px 100px;
  }
}

.member__card__swiper-slide {
  position: relative;
}

.member__card__swiper-slide__number {
  position: absolute;
  width: 61px;
  right: 8px;
  top: -20px;
  z-index: 3;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  top: auto !important;
  bottom: -64px !important;
  width: 95%;
}
@media screen and (min-width: 1025px) {
  .swiper-horizontal > .swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 67.7777777778vw;
    bottom: -103px !important;
  }
}

.swiper-button-prev,
.swiper-button-next {
  top: auto !important;
  bottom: -170px;
}

.member__card__swiper-slide__img {
  margin-bottom: 20px;
  width: 100%;
}

.member__card__swiper-slide__lead {
  padding: 12px 16px;
  height: 16em;
  background-color: #023e78;
  color: #fff;
  color: var(--, #fff);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 2; /* 30px */
  letter-spacing: 0.3px;
}
@media screen and (min-width: 1025px) {
  .member__card__swiper-slide__lead {
    height: 14em;
  }
}

.culture {
  background-color: #f2f4f6;
}

.culture__inner {
  padding: 80px 0;
}
@media screen and (min-width: 1025px) {
  .culture__inner {
    padding: 120px 0;
    max-width: 1240px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.culture__items {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
@media screen and (min-width: 1025px) {
  .culture__items {
    padding: 0 40px;
  }
}

.culture__item {
  padding: 28px 0;
  border-bottom: 2px solid #c4ccd7;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.culture__item:last-child {
  border-bottom: none;
}
@media screen and (min-width: 1025px) {
  .culture__item {
    flex-direction: row;
    align-items: center;
  }
}

.culture__lead {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 1025px) {
  .culture__lead {
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
  }
}

.culture__lead__img {
  width: 64px;
  margin: 0 auto;
}

.culture__lead__text {
  color: #023e78;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .culture__lead__text {
    text-align: left;
    width: 27.4305555556vw;
  }
}
.culture__lead__text p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 4px;
}
@media screen and (min-width: 1025px) {
  .culture__lead__text p {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 12px;
  }
}
.culture__lead__text span {
  font-family: "Jost", sans-serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.39px;
  text-transform: uppercase;
}
@media screen and (min-width: 1025px) {
  .culture__lead__text span {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.42px;
  }
}

.culture__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
}
@media screen and (min-width: 1025px) {
  .culture__text {
    font-size: 16px;
  }
}

/* 背景画像の見えている高さ */
.parallax {
  height: 488px;
}
@media screen and (min-width: 1025px) {
  .parallax {
    height: 380px;
  }
}

/* 背景画像 */
.parallax::before {
  background-image: url(/img/parallax.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.benefits {
  background-color: #f2f4f6;
  position: relative;
}

.benefits__bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 56.4102564103vw;
}
@media screen and (min-width: 1025px) {
  .benefits__bg {
    width: 53.2638888889vw;
  }
}

.benefits__inner {
  padding: 80px 0;
}
@media screen and (min-width: 1025px) {
  .benefits__inner {
    padding: 120px 0;
  }
}

.benefits__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}
.benefits__title img {
  width: 20px;
}
@media screen and (min-width: 1025px) {
  .benefits__title img {
    width: 30px;
  }
}
.benefits__title span {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}
@media screen and (min-width: 1025px) {
  .benefits__title span {
    font-size: 24px;
  }
}

.faq {
  background-color: #e4eaf1;
  position: relative;
}

.faq__bg {
  position: absolute;
  width: 70.7692307692vw;
  bottom: 0;
  left: 0;
  z-index: 0;
}
@media screen and (min-width: 1025px) {
  .faq__bg {
    width: 40.5555555556vw;
  }
}

.faq__accent {
  position: absolute;
  right: 0;
  top: 0;
  width: 46.9230769231vw;
}
@media screen and (min-width: 1025px) {
  .faq__accent {
    width: 22.0138888889vw;
  }
}

.faq__accent__sub {
  position: absolute;
  width: 22.0138888889vw;
  right: 3.6111111111vw;
  bottom: 8.8888888889vw;
}

.faq__inner {
  padding-top: 100px;
  padding-bottom: 112px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1025px) {
  .faq__inner {
    flex-direction: row;
    gap: 11.1111111111vw;
  }
}

.faq__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  position: relative;
}

.faq__item {
  padding: 8px 12px;
  background-color: #f2f4f6;
  border-radius: 4px;
}
.faq__item dl {
  display: flex;
  align-items: center;
  gap: 8px;
}
.faq__item dt {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  cursor: pointer;
}
.faq__item dt span {
  width: 28px;
  border-radius: 50%;
  background: rgba(255, 244, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #023e78;
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.27;
}
.faq__item dt img {
  width: 32px;
  margin-left: auto;
  transition: transform 0.3s ease;
}
.faq__item dt p {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}
.faq__item dd {
  border-top: 2px solid #c4ccd7;
  color: #023e78;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  padding-top: 8px;
  display: none;
}
.faq__item dd.--open {
  display: block;
}
.faq__item dt.--open img {
  transform: rotate(180deg);
}

.cta {
  padding: 12px;
  background-color: #e4eaf1;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1025px) {
  .cta {
    padding: 32px;
  }
}

.cta__content {
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(270deg, #0291d9 0%, #023e78 100%);
  padding: 56px 8px;
}
@media screen and (min-width: 1025px) {
  .cta__content {
    position: relative;
    height: 44.1666666667vw;
    perspective: 2000px;
    perspective-origin: center;
    transform-style: preserve-3d;
    overflow: hidden;
    border-radius: 8px;
  }
}

.door-left,
.door-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.door-left img,
.door-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: top;
}

.door-left {
  left: 0;
  transform-origin: left center;
}

.door-right {
  right: 0;
  transform-origin: right center;
}

.cta__message {
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .cta__message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cta__join {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.5; /* 48px */
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media screen and (min-width: 1025px) {
  .cta__join {
    font-size: 56px;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    margin-bottom: 36px;
  }
}

.cta__lead {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7; /* 23.8px */
  margin-bottom: 40px;
}
@media screen and (min-width: 1025px) {
  .cta__lead {
    font-size: 16px;
  }
}

.cta__btn {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5; /* 27px */
  letter-spacing: 0.9px;
  text-transform: uppercase;
  padding: 16px 92px 16px 64px;
  border-radius: 44px;
  border: 1px solid #fff;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .cta__btn {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.2px;
  }
}
.cta__btn::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff400;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}

/* ホバー時のアニメーション */
.cta__content:hover .door-left {
  width: 35%;
  transform: rotateY(24deg) scaleX(0.8);
}

.cta__content:hover .door-right {
  width: 35%;
  transform: rotateY(-24deg) scaleX(0.8);
}

.footer {
  background-color: #e4eaf1;
  position: relative;
}

.footer__bg {
  position: absolute;
  z-index: 0;
  width: 64.1025641026vw;
  bottom: 0;
  right: 0;
}
@media screen and (min-width: 1025px) {
  .footer__bg {
    width: 58.6111111111vw;
  }
}

.footer__inner {
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 32px;
}
@media screen and (min-width: 1025px) {
  .footer__inner {
    padding: 80px 0 32px;
    gap: 0px;
    flex-direction: row;
  }
}

@media screen and (min-width: 1025px) {
  .footer__left {
    margin-right: auto;
  }
}

.footer__logo {
  width: 280px;
  margin-bottom: 32px;
  display: inline-block;
}
@media screen and (min-width: 1025px) {
  .footer__logo {
    margin-bottom: 40px;
  }
}

address {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6; /* 25.6px */
}
@media screen and (min-width: 1025px) {
  address {
    font-size: 16px;
    line-height: 1.7;
  }
}

.footer__menu {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
@media screen and (min-width: 1025px) {
  .footer__menu {
    flex-direction: row;
    gap: 20px;
  }
}

.footer__menu__contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 1025px) {
  .footer__menu__contents {
    gap: 0;
    width: 250px;
  }
}

.footer__menu__item {
  padding: 8px 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4; /* 25.2px */
}

.footer__sns {
  display: flex;
  gap: 36px;
}

.footer__sns__item {
  width: 40px;
}

.copyright {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 18px */
}