.section__inner {
  margin-left: 24px;
  margin-right: 24px;
}
@media screen and (min-width: 1025px) {
  .section__inner {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.section__title {
  margin-bottom: 40px;
}
@media screen and (min-width: 1025px) {
  .section__title {
    margin-bottom: 64px;
  }
}
.section__title p {
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
}
@media screen and (min-width: 1025px) {
  .section__title p {
    font-size: 64px;
    letter-spacing: 1.28px;
  }
}
.section__title span {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 1.5px;
}
@media screen and (min-width: 1025px) {
  .section__title span {
    font-size: 18px;
    letter-spacing: 1.8px;
  }
}
.section__title.--gradation p {
  background: linear-gradient(270deg, #0a9ae5 0%, #023e78 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1025px) {
  .is-sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .is-pc {
    display: none;
  }
}

body {
  color: #404559;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.culture {
  background-color: #f2f4f6;
}

.culture__inner {
  padding: 80px 0;
}
@media screen and (min-width: 1025px) {
  .culture__inner {
    padding: 120px 0;
    max-width: 1240px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.culture__items {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
@media screen and (min-width: 1025px) {
  .culture__items {
    padding: 0 40px;
  }
}

.culture__item {
  padding: 28px 0;
  border-bottom: 2px solid #c4ccd7;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.culture__item:last-child {
  border-bottom: none;
}
@media screen and (min-width: 1025px) {
  .culture__item {
    flex-direction: row;
    align-items: center;
  }
}

.culture__lead {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 1025px) {
  .culture__lead {
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
  }
}

.culture__lead__img {
  width: 64px;
  margin: 0 auto;
}

.culture__lead__text {
  color: #023e78;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .culture__lead__text {
    text-align: left;
    width: 27.4305555556vw;
  }
}
.culture__lead__text p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 4px;
}
@media screen and (min-width: 1025px) {
  .culture__lead__text p {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 12px;
  }
}
.culture__lead__text span {
  font-family: "Jost", sans-serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.39px;
  text-transform: uppercase;
}
@media screen and (min-width: 1025px) {
  .culture__lead__text span {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.42px;
  }
}

.culture__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
}
@media screen and (min-width: 1025px) {
  .culture__text {
    font-size: 16px;
  }
}

.benefits {
  background-color: #f2f4f6;
}

.benefits__inner {
  padding: 80px 0;
}
@media screen and (min-width: 1025px) {
  .benefits__inner {
    padding: 120px 0;
  }
}

.benefits__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}
.benefits__title img {
  width: 20px;
}
@media screen and (min-width: 1025px) {
  .benefits__title img {
    width: 30px;
  }
}
.benefits__title span {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}
@media screen and (min-width: 1025px) {
  .benefits__title span {
    font-size: 24px;
  }
}